<div class="container">
  <mat-toolbar class="app-title">
    <span class="text-mid">Covid 19 Tracker</span>
  </mat-toolbar>
</div>

<app-search
    (selectedCity)="getCityDetails($event)">
</app-search>
<app-city
    [covidsummary]="covidsummary" [countryfilter] = "Countryfilter" >
</app-city>

