<div class="container" *ngIf="covidsummary">
Date: {{date| date:'mediumDate'}}
    <div class="row">
      <mat-table  [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="Country Code">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Country Code </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.CountryCode}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Country Name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Country Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Country}} </mat-cell>
          </ng-container>
<!--
          <ng-container matColumnDef="Date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Date | date:'mediumDate'}} </mat-cell>
        </ng-container> -->

          <ng-container matColumnDef="New Confirmed">
              <mat-header-cell *matHeaderCellDef mat-sort-header> New Confirmed </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.NewConfirmed}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Total Confirmed">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Confirmed </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.TotalConfirmed}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="New Deaths">
            <mat-header-cell *matHeaderCellDef mat-sort-header> New Deaths </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.NewDeaths}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Total Deaths">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Deaths </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.TotalDeaths}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="New Recovered">
            <mat-header-cell *matHeaderCellDef mat-sort-header> New Recovered </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.NewRecovered}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Total Recovered">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Recovered </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.TotalRecovered}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns">
          </mat-row>
      </mat-table>
  </div>
  </div>

