.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.container-weather {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.weather-card {
    width: 200px;
    height: 100px;
}

.cityData {
    background-color: #fafafa;
    padding: 12px;
    max-width: 200px;
    /* display: flex; */
}

.cityName {
    margin: 0 auto 5 auto;
    text-align: center;
    display: block;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.date {
    padding: 5px;
    width: 100%;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.weatherIcon {
    width: 20%;
}

.weather {
    font-weight: 600;
    width: 100px;
    display: block;
}

